.background-colar{
    background-color: rgba(229, 84, 115, 0.10);
}
.head-size{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}
.pra-color{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.button-color{
    background-color: #E55473;
    border-radius: 8px;
    color: white;
    border: none; 
    padding: 15px;
    font-size: 20px;
}
.fix-display{
    display: flex;
}
.text-padding{
padding-left: 240px;
padding-top: 190px;
}
.flower-padding{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    height:850px;
}